* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  text-align: center;
  padding-bottom: 5rem;
}
h2 {
  text-align: left;
}
h3 {
  padding-top: 2rem;
  padding-left: 20px;
}

h4{
  padding-left: 20px;
}

#intro {
  text-align: left;
  padding-left: 10rem;
  padding-right: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-body {
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

#example-responses {
  text-wrap: auto;
  border-radius: 10px;
  padding: 3rem 1.5rem;
  background-color: rgb(231, 231, 231);
  line-height: 2;
}
#example-responses:hover {
  background-color: rgb(208, 208, 208);
}

footer {
  padding-top: 2rem;
  text-align: center;
}
